# Environment variables
server/.env
client/.env.local
client/.env.production

# Dependencies
server/node_modules/
client/node_modules/

# Build output
client/dist/

# VS Code settings
.vscode/

# Windows junk files
Thumbs.db
desktop.ini